#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
}
.all-height{
    height: 100%;
}
.head-img{
    position: absolute;
    right: 30px;
}
.head-img img{
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
.left-side{
    background: #409eff;
}
.item-menu{
    background: #409eff;
}
.ant-menu-inline .ant-menu-sub{
    background: lightblue;
}
